* {
    font-family: Arial, Helvetica, sans-serif;
}

.product-card {
    width: 450px;
    height: 300px;
    margin: 10px;
    padding: 0;
    box-shadow: 2px 2px 10px #00000055;

    .product-header {
        height: 70%;
    }

    .product-footer {
        height: 30%;
        background-color: #63cfab;
        border-radius: 0px 0px 5px 5px;
        display: flex;
        padding: 10px;

        .footer-content {
            width: 100%;
            display: flex;
            flex: 1 1;
        }
    }
}

.container-logo {
    text-align: center;
    background: linear-gradient(#63cfab, white 65%);
    .logo {
        width: 175px;
    }
    .navbar {
        justify-content: center;
        display: flex;
        .text {
            padding-top: 2%;
            width: 10%;
            a {
                color: black;
                text-decoration: none; 
                :hover {
                    color: gray;
                }
            }
        }
    }
    .container-line {
        display: flex;
        justify-content: center;
        .line {
            background-color: black;
            width: 30%;
            height: 2px;
            box-shadow: 3px 2px 3px #0000002e;
        } 
    }
    
}